<div class="list-group my-list">
  <% @user.tweets.each do |tweet| %>
    <div class="list-group-item my-list-item">
      <h4 class="list-group-item-heading my-heading">
        @<%= link_to @user.username, show_user_path(id: @user.id) %>
      </h4>
      <p class="list-group-item-text">
        <%= tweet.message.html_safe %>
      </p>
    </div>
  <% end %>
</div>
