<div>
</div>
<div class="row">
  <div class="col-sm-4">

  </div>
  <!-- a place for current user stats -->
  <div class="col-sm-8">
    <h1><%= @tag.phrase %></h1>
    <ul class="list-group my-list">
      <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
        <li class="list-group-item my-list-item"
        <p class="list-group-item-header">
          <%= tweet.user.name + ' @' + tweet.user.username %>
          • <%= time_ago_in_words(tweet.created_at) %>
        </p>
        <p class="list-group-item-text">
          <%= tweet.message.html_safe %>
        </p>
      <% end %>
    </ul>
  </div>
</div>
